.btn-primary {
    background-color: #4452bc;
    padding: 7px 15px;
}

.btn-primary:hover {
    background-color: #2B38A1;
}

.btn-secondary {
    padding: 7px 15px;
}

#delBtn {
    background-color: transparent;
    color: red;
    border: 0;
}

#viewBtn {
    background-color: transparent;
    color: #2B38A1;
    border: 0;
}

#approvedBtn {
    background-color: transparent;
    color: #36b807;
    border: 0;
}

#pendingBtn {
    background-color: transparent;
    color: #2B38A1;
    border: 0;
}

.profile-group {
    margin-bottom: 15px;
}

.profile-table td {
    padding-bottom: 10px;
}

/* Pagination design */
.page-item.active .page-link {
    background-color: #2B38A1;
    color: #fff;
    border-color: #2B38A1;
}

.custom-pagination .pagination a:hover {
    background-color: #4452bc;
    color: #fff;
    border-color: #4452bc;
}